@media screen and (max-width:778px){
.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 70px;
}
    .dashdiv, .stockdiv {
    padding-top: 80px;
    margin-left: 80px;
    margin-right: 20px;
}
    }